.idea

.venv

hummingbot/k8s/helm/bots/*
!hummingbot/k8s/helm/bots/hl_wb_arb_1.yaml.example

freqtrade/k8s/helm/bots/*
!freqtrade/k8s/helm/bots/copy_hl_ls_1.yaml.example

polymarket/k8s/helm/bots/*
!polymarket/k8s/helm/bots/pm_claude_1.yaml.example
!polymarket/k8s/helm/bots/pm_btc_1.yaml.example
polymarket/k8s/helm/polymarket-btc-bot/files/old_scripts_ignore

util/k8s/helm/jobs/*
!util/k8s/helm/jobs/hl_leaderboard_1.yaml.example

logs

util/output

hetzner-k3s/kubeconfig

element/k8s/helm/synapse/values.instance.yaml
element/k8s/helm/coturn/values.instance.yaml
element/k8s/helm/livekit/values.instance.yaml
element/k8s/helm/lk-jwt-service/values.instance.yaml

ai/.venv
ai/model_target*
ai/report_target*
ai/*.csv
ai/inputs
ai/outputs
ai/hf-models
/polymarket/k8s/helm/polymarket-btc-bot/update-log/
