.idea

hummingbot/k8s/helm/bots/*
!hummingbot/k8s/helm/bots/hl_wb_arb_1.yaml.example

freqtrade/k8s/helm/bots/*
!freqtrade/k8s/helm/bots/copy_hl_ls_1.yaml.example

polymarket/k8s/helm/bots/*
!polymarket/k8s/helm/bots/pm_claude_1.yaml.example

util/k8s/helm/jobs/*
!util/k8s/helm/jobs/hl_leaderboard_1.yaml.example

logs

util/output

hetzner-k3s/kubeconfig
