freqtrade_image: freqtradeorg/freqtrade:stable
freqtrade_ui_port: 8100
freqtrade_strategy: SampleStrategy
frequi_image: freqtradeorg/frequi:latest
frequi_port: 3000
freqtrade_jwt_secret_key: replace_me
freqtrade_api_user: freqtrader
freqtrade_api_password: replace_me

freqtrade_hyperliquid_wallet: replace_me
freqtrade_hyperliquid_secret: replace_me