freqtrade_base_image: freqtradeorg/freqtrade:stable
freqtrade_image: freqtrade_custom:latest
freqtrade_dry_run: true

# Global defaults for bots if not specified per-bot
freqtrade_jwt_secret_key: replace_me
freqtrade_api_user: freqtrader
freqtrade_api_password: replace_me

bots:
  copy_hl_1:
    strategy: copy_hl
    ui_port: 8080
    hyperliquid_wallet_to_copy: "0x..."
    my_wallet: "0x..."
    my_secret: "0x..."
    telegram:
      enabled: true
      telegram_token: "YOUR_TELEGRAM_BOT_TOKEN"
      telegram_chat_id: "YOUR_TELEGRAM_CHAT_ID"
  sample_strategy_1:
    strategy: sample_strategy
    ui_port: 8081
    my_wallet: "0x..."
    my_secret: "0x..."
    telegram:
      enabled: false
      telegram_token: ""
      telegram_chat_id: ""
  copy_hl_ls_1:
    strategy: copy_hl_ls
    ui_port: 8082
    hyperliquid_wallet_to_copy: "0x..."
    my_wallet: "0x..."
    my_secret: "0x..."
    telegram:
      enabled: true
      telegram_token: "YOUR_TELEGRAM_BOT_TOKEN"
      telegram_chat_id: "YOUR_TELEGRAM_CHAT_ID"
