{
  "max_open_trades": 3,
  "stake_currency": "USDT",
  "stake_amount": 0.05,
  "tradable_balance_ratio": 0.99,
  "fiat_display_currency": "USD",
  "dry_run": true,
  "dry_run_wallet": 1000,
  "cancel_open_orders_on_exit": false,
  "trading_mode": "spot",
  "margin_mode": "",
  "unfilledtimeout": {
    "entry": 10,
    "exit": 30,
    "exit_timeout_count": 0,
    "unit": "minutes"
  },
  "entry_pricing": {
    "price_side": "same",
    "use_order_book": true,
    "order_book_top": 1,
    "check_depth_of_market": {
      "enabled": false,
      "bids_to_ask_delta": 1
    }
  },
  "exit_pricing": {
    "price_side": "same",
    "use_order_book": true,
    "order_book_top": 1
  },
  "exchange": {
    "name": "binance",
    "key": "{{ freqtrade_exchange_key | default('') }}",
    "secret": "{{ freqtrade_exchange_secret | default('') }}",
    "pair_whitelist": [
      "ETH/USDT",
      "BTC/USDT",
      "SOL/USDT"
    ],
    "pair_blacklist": [
      "BNB/USDT"
    ]
  },
  "pairlists": [
    {
      "method": "StaticPairList"
    }
  ],
  "edge": {
    "enabled": false,
    "process_throttle_secs": 3600,
    "calculate_expectancy_ratio_from_nmce": 0.01,
    "allowed_risk": 0.01,
    "stoploss_range_min": -0.01,
    "stoploss_range_max": -0.1,
    "stoploss_range_step": -0.01,
    "minimum_winrate": 0.6,
    "minimum_expectancy": 0.2,
    "min_trade_number": 10,
    "max_trade_duration_minute": 1440,
    "remove_pumps": false
  },
  "api_server": {
    "enabled": true,
    "listen_ip_address": "0.0.0.0",
    "listen_port": 8080,
    "verbosity": "info",
    "enable_openapi": false,
    "jwt_secret_key": "{{ freqtrade_jwt_secret_key | default('change_me_please') }}",
    "username": "{{ freqtrade_api_user | default('freqtrader') }}",
    "password": "{{ freqtrade_api_password | default('password') }}"
  },
  "bot_name": "freqtrade",
  "initial_state": "running",
  "force_entry_enable": false,
  "internals": {
    "process_throttle_secs": 5
  }
}
