{
  "max_open_trades": 3,
  "stake_currency": "USDC",
  "stake_amount": 0.05,
  "tradable_balance_ratio": 0.99,
  "fiat_display_currency": "USD",
  "dry_run": {{ item.value.dry_run | default(freqtrade_dry_run | default(true)) | lower }},
  "dry_run_wallet": 1000,
  "cancel_open_orders_on_exit": false,
  "trading_mode": "futures",
  "margin_mode": "isolated",
  "unfilledtimeout": {
    "entry": 10,
    "exit": 30,
    "exit_timeout_count": 0,
    "unit": "minutes"
  },
  "entry_pricing": {
    "price_side": "same",
    "use_order_book": true,
    "order_book_top": 1,
    "check_depth_of_market": {
      "enabled": false,
      "bids_to_ask_delta": 1
    }
  },
  "exit_pricing": {
    "price_side": "same",
    "use_order_book": true,
    "order_book_top": 1
  },
  "exchange": {
    "name": "hyperliquid",
    "walletAddress": "{{ item.value.my_wallet | default('') }}",
    "privateKey": "{{ item.value.my_secret | default('') }}",
    "pair_whitelist": [
      "BTC/USDC:USDC",
      "ETH/USDC:USDC",
      "SOL/USDC:USDC"
    ],
    "pair_blacklist": [
    ]
  },
  "pairlists": [
    {
      "method": "StaticPairList"
    }
  ],
  "edge": {
    "enabled": false,
    "process_throttle_secs": 3600,
    "calculate_expectancy_ratio_from_nmce": 0.01,
    "allowed_risk": 0.01,
    "stoploss_range_min": -0.01,
    "stoploss_range_max": -0.1,
    "stoploss_range_step": -0.01,
    "minimum_winrate": 0.6,
    "minimum_expectancy": 0.2,
    "min_trade_number": 10,
    "max_trade_duration_minute": 1440,
    "remove_pumps": false
  },
  "telegram": {
    "enabled": {{ item.value.telegram.enabled | default(false) | lower }},
    "token": "{{ item.value.telegram.telegram_token | default('') }}",
    "chat_id": "{{ item.value.telegram.telegram_chat_id | default('') }}"
  },
  "api_server": {
    "enabled": true,
    "listen_ip_address": "0.0.0.0",
    "listen_port": 8080,
    "verbosity": "info",
    "enable_openapi": false,
    "jwt_secret_key": "{{ item.value.jwt_secret_key | default(freqtrade_jwt_secret_key | default('change_me_please')) }}",
    "username": "{{ item.value.api_user | default(freqtrade_api_user | default('freqtrader')) }}",
    "password": "{{ item.value.api_password | default(freqtrade_api_password | default('password')) }}"
  },
  "bot_name": "{{ item.key }}",
  "initial_state": "running",
  "force_entry_enable": false,
  "internals": {
    "process_throttle_secs": 5
  }
}
