HUMMINGBOT_IMAGE={{ hummingbot_image }}
HUMMINGBOT_API_IMAGE={{ hummingbot_api_image }}
TZ={{ hummingbot_tz }}
HUMMINGBOT_API_PORT={{ hummingbot_api_port }}
POSTGRES_DB={{ hummingbot_postgres_db }}
POSTGRES_USER={{ hummingbot_postgres_user }}
POSTGRES_PASSWORD={{ hummingbot_postgres_password }}
REDIS_PASSWORD={{ hummingbot_redis_password }}
