HUMMINGBOT_API_IMAGE={{ hummingbot_api_image }}
HUMMINGBOT_GATEWAY_IMAGE={{ hummingbot_gateway_image }}
HUMMINGBOT_DASHBOARD_IMAGE={{ hummingbot_dashboard_image }}
TZ={{ hummingbot_tz }}
HUMMINGBOT_API_PORT={{ hummingbot_api_port }}
HUMMINGBOT_GATEWAY_PORT={{ hummingbot_gateway_port }}
HUMMINGBOT_DASHBOARD_PORT={{ hummingbot_dashboard_port }}
HUMMINGBOT_GATEWAY_PASSPHRASE={{ hummingbot_gateway_passphrase }}
DASHBOARD_AUTH_SYSTEM_ENABLED={{ hummingbot_dashboard_auth_system_enabled }}
DASHBOARD_BACKEND_API_HOST={{ hummingbot_dashboard_backend_api_host }}
DASHBOARD_BACKEND_API_PORT={{ hummingbot_dashboard_backend_api_port }}
BROKER_HOST={{ hummingbot_broker_host }}
BROKER_PORT={{ hummingbot_broker_port }}
POSTGRES_DB={{ hummingbot_postgres_db }}
POSTGRES_USER={{ hummingbot_postgres_user }}
POSTGRES_PASSWORD={{ hummingbot_postgres_password }}
DATABASE_URL=postgresql+asyncpg://{{ hummingbot_postgres_user | urlencode }}:{{ hummingbot_postgres_password | urlencode }}@postgres:5432/{{ hummingbot_postgres_db | urlencode }}
REDIS_PASSWORD={{ hummingbot_redis_password }}
