{
  "max_open_trades": 50,
  "stake_currency": "USDC",
  "stake_amount": 12,
  "tradable_balance_ratio": 0.99,
  "amount_reserve_percent": 0.01,
  "available_capital": 1000.0,
  "dry_run_wallet": 1000.0,
  "dry_run": {{ item.value.dry_run | default(freqtrade_dry_run | default(true)) | lower }},
  "fee": 0.001,
  "cancel_open_orders_on_exit": true,
  "trading_mode": "futures",
  "margin_mode": "isolated",
  "unfilledtimeout": {
    "entry": 15,
    "exit": 15,
    "exit_timeout_count": 10,
    "unit": "seconds"
  },
  "entry_pricing": {
    "price_side": "other",
    "use_order_book": true,
    "order_book_top": 20,
    "price_last_balance": 0.0,
    "check_depth_of_market": {
      "enabled": false,
      "bids_to_ask_delta": 1
    }
  },
  "exit_pricing": {
    "price_side": "other",
    "use_order_book": true,
    "order_book_top": 20
  },
  "exchange": {
    "name": "hyperliquid",
    "walletAddress": "{{ item.value.my_wallet | default('') }}",
    "privateKey": "{{ item.value.my_secret | default('') }}",
    "ccxt_config": {
      "options": {
        "vaultAddress": ""
      },
      "enableRateLimit": true,
      "rateLimit": 1000
    },
    "ccxt_async_config": {
      "enableRateLimit": true,
      "rateLimit": 1000,
      "options": {
        "vaultAddress": ""
      }
    },
    "pair_whitelist": [
      "BTC/USDC:USDC"
    ],
    "pair_blacklist": []
  },
  "pairlists": [
    {
      "method": "StaticPairList",
      "number_assets": 16,
      "sort_key": "quoteVolume",
      "min_value": 100000,
      "refresh_period": 1800
    }
  ],
  "edge": {
    "enabled": false,
    "process_throttle_secs": 3600,
    "calculate_since_number_of_days": 1500,
    "allowed_risk": 0.01,
    "stoploss_range_min": -0.02,
    "stoploss_range_max": -0.95,
    "stoploss_range_step": -0.001,
    "minimum_winrate": 0.2,
    "minimum_expectancy": 0.1,
    "min_trade_number": 20,
    "max_trade_duration_minute": 28800,
    "remove_pumps": false
  },
  "telegram": {
    "enabled": {{ item.value.telegram.enabled | default(false) | lower }},
    "token": "{{ item.value.telegram.telegram_token | default('') }}",
    "chat_id": "{{ item.value.telegram.telegram_chat_id | default('') }}"
  },
  "api_server": {
    "enabled": true,
    "listen_ip_address": "0.0.0.0",
    "listen_port": 8080,
    "verbosity": "info",
    "enable_openapi": false,
    "Force_entry": true,
    "forcebuy_enable": true,
    "force_entry_enable": true,
    "jwt_secret_key": "{{ item.value.jwt_secret_key | default(freqtrade_jwt_secret_key | default('d1654caf3c530f6b037ae59a999d9d9328dec66bdd68799112cf1ba7d65276a3')) }}",
    "CORS_origins": [],
    "username": "{{ item.value.api_user | default(freqtrade_api_user | default('ft')) }}",
    "password": "{{ item.value.api_password | default(freqtrade_api_password | default('kamala')) }}"
  },
  "bot_name": "{{ item.key }}",
  "initial_state": "running",
  "force_entry_enable": true,
  "internals": {
    "process_throttle_secs": 20
  }
}